.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  .fa
    padding-right 15px

.archive
  border-bottom 1px solid color-border
  margin-bottom 50px
  article
    position relative
    h1
      margin 0px
      line-height 80px
    time
      display inline-block
    box-shadow none
    .post-content
      margin-bottom 0
