<div class="reveal">
  <div class="slides">
    <section data-markdown
             data-separator="^\n\n\n"  
             data-vertical="^\n\n"  
             data-notes="^Note:"  
             data-charset="iso-8859-15">
      <script type="text/template"><%- item.raw.substr(item.raw.indexOf('---')+4) || '无文档' %></script>
    </section>
  </div>
</div>
<%- js(['/reveal/lib/head.min.js','/reveal/reveal.js']) %>
<%- css(['/reveal/style/reveal.css','/reveal/style/theme/moon.css']) %>
<script type="text/javascript">
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: false,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    // Optional libraries used to extend on reveal.js
    dependencies: [
        { src: window.location.protocol+'//'+window.location.host+'/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: window.location.protocol+'//'+window.location.host+'/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: window.location.protocol+'//'+window.location.host+'/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: window.location.protocol+'//'+window.location.host+'/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: window.location.protocol+'//'+window.location.host+'/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
  });
</script>