<% if (page.comments){ %>
<section id="comment">
  <!-- <h1 class="title fa fa-comments"></h1> -->

  <% if(theme.comment_provider == "duoshuo") {%>
      <%- partial('_partial/duoshuo_comment', {dsConfig: theme.duoshuo}) %>
  <% } %>
</section>
<% } %>